:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
	font-family: 'PTRootUIWebBold';
	src: 
		url('./assets/fonts/pt-root-ui_bold.woff2') format('woff2'),
		url('./assets/fonts/pt-root-ui_bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebLight';
	src: 
		url('./assets/fonts/pt-root-ui_light.woff2') format('woff2'),
		url('./assets/fonts/pt-root-ui_light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebMedium';
	src: 
		url('./assets/fonts/pt-root-ui_medium.woff2') format('woff2'),
		url('./assets/fonts/pt-root-ui_medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebRegular';
	src: 
		url('./assets/fonts/pt-root-ui_regular.woff2') format('woff2'),
		url('./assets/fonts/pt-root-ui_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUIWebVF';
	src: 
		url('./assets/fonts/pt-root-ui_vf.woff2') format('woff2'),
		url('./assets/fonts/pt-root-ui_vf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
p,a,h1,h2,h3,h4,h5,h6,li,span {
  color: inherit;
  font-family: 'PTRootUIWebRegular';
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'PTRootUIWebRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
P{
  font-family: 'PTRootUIWebRegular';

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.css-1n4a7ke-MuiStack-root>.MuiTextField-root, .css-1n4a7ke-MuiStack-root>.MuiPickersTextField-root,
.css-1gbeqd5-MuiStack-root>.MuiTextField-root, .css-1gbeqd5-MuiStack-root>.MuiPickersTextField-root {
    min-width: 100% !important;
}
.css-14j09xo-MuiButtonBase-root-MuiTab-root>.MuiTab-icon,.css-1htxsrz-MuiButtonBase-root-MuiTab-root>.MuiTab-icon{
	margin-bottom: 0px !important;
}